*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(./Imagenes/Fondo.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #000;
}
.Logo{
    position: absolute;
    top: 23vi;
    left: 45vi;
}
