@font-face{
    font-family: 'myriad pro light';
    src: url(./Fuente/Myriad\ Pro\ Light.otf);
}

@font-face{
    font-family: 'myriad pro regular';
    src: url(./Fuente/Myriad\ Pro\ Regular.ttf);
    font-weight: bold;
}


body{
    margin: 0;
    position: absolute;
    width: 100vw; 
    height: 100vh;
    overflow-x: hidden;
    overflow-y: hidden;
    display: flex;
}

section.home{
    position: relative;
    margin: 0;
    width: 100vw;
    height: 10vh;
}
.cuadrito {
    position: absolute;    
    width: 100vw; 
    height: 3.5vi;  
    display: flex;
    justify-content: space-between;
    align-items: center;  
}

div.linea{
    position: absolute;
    margin: 0%;
    width: 100vw; 
    border: 2px solid gray;
    border-top: none;
    border-left: none;
    border-right: none;
    transform: translateY(2.08vw);
}
.anadir{
    position: absolute;
    top: 1.23vw;
    left: 5vw;
    height: auto;
    width: 1.5vw;
}

.XS {
    position: absolute;
    text-decoration: none;
    color: black;
    font-family: 'myriad pro regular';
    font-size: 1.3vw;
    top: 1.33vw;
    left: 7vw;
}

.reload {
    position: absolute;
    top: 1.3vw;
    left: 18vw;
    height: auto;
    width: 1.4vw;
    
}

.XM{
    position: absolute;
    text-decoration: none;
    color: black;
    font-family: 'myriad pro regular';
    font-size: 1.3vw;
    top: 1.34vw;
    left: 20vw;
}

.delete{
    position: absolute;
    top: 1.2vw;
    left: 33vw;
    width: 1.2vw;
    height: auto;
}

.XL{
    position: absolute;
    text-decoration: none;
    color: black;
    font-family: 'myriad pro regular';
    font-size: 1.3vw;
    top: 1.4vw;
    left: 35vw;
}

.icono{
    position: absolute;
    left: 49vw;
    top: 0.8vw;
    height: 2vw;
}

.report{
    position: absolute;
    height: 1.89vw;
    top: 1vw;
    left:62vw;
}

.S{
    position: absolute;
    text-decoration: none;
    color: black;
    font-family: 'myriad pro regular';
    font-size: 1.2vw;
    left: 64vw;
    top: 1.25vw;
}

.help{
    position: absolute;
    left: 76vw;
    height: auto;
    width: 1.85vw;
    top: 1vw;
}

.SS{
    position: absolute;
    text-decoration: none;
    color: black;
    font-family: 'myriad pro regular';
    left: 78.5vw;
    top: 1.2vw;
    font-size: 1.2vw;
}


.SSS{
    position: absolute;
    top: 1.45vw;
    left: 92.23vw;
    height: auto;
    width: 1.09vw;
}

.EG{
    position: absolute;
    top: 1.55vw;
    left: 94.14vw;
    height: auto;
    width:  0.98vw;
}

.menu {
    position: absolute;
    top: 0.5vw;
    left: 96vw;
    display: inline-block;
}

.pedrito img {
    width: 2.6vw;
    height: auto;
    cursor: pointer;
}

.toggle {
    display: none;
}

.menu-content {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #fff;
    padding: 0.5rem;
    border: 1px solid #ccc;
    z-index: 1;
    font-size:1vw;
    white-space: nowrap;
    
}

.toggle:checked + .menu-content {
    display: block;
}

.menu-content a {
    display: block;
    text-decoration: none;
    font-family: 'myriad pro light';
    color: #000;
    padding: 0.5rem 1rem;
    
}

.menu-content a:hover {
    background-color: #f2f2f2;
}

.formula{
    position: relative;
    margin: 0;
    width: 100vw;
    height: 50vw;
}

.txt1{
    position: absolute;
    font-family: 'myriad pro regular';
    font-size: 2.08vw;
    text-align: center;
    top: -1.5vw;
    left: 39vw;
}

.txt2{
    position: absolute;
    font-family: 'myriad pro light';
    font-size:1.25vw;
    text-align: center;
    top: 3.5vw;
    left: 26vw;
}

.clase1{
    position: absolute;
    font-size: 1.5em;
    font-family: 'myriad pro regular';
    left: 5vw;
    top: 17vh; 
}
.cuadrao1{
    position: absolute;
    left: 8em;
    top: 19em;
    width: 150em;
    height: 3.8em;
    border: 1px solid black;
    border-radius: 1em;
}
.Fila1_1{
    position: absolute;
    left: 1em;
    top: 1em;
    font-size: 1.5em;
}   
.Fila1_2{
    position: absolute;
    left: 12em;
    top: 1em;
    font-size: 1.5em;
}
.Fila1_3{
    position: absolute;
    left: 25em;
    top: 1em;
    font-size: 1.5em;
}
.Fila1_4{
    position: absolute;
    left: 30em;
    top: 1em;
    font-size: 1.5em;
}
.Fila1_5{
    position: absolute;
    left: 35em;
    top: 1em;
    font-size: 1.5em;
}
.Fila1_6{
    position: absolute;
    left: 42em;
    top: 1em;
    font-size: 1.5em;
}
.Fila1_7{
    position: absolute;
    left: 50em;
    top: 1em;
    font-size: 1.5em;
}
.Fila1_8{
    position: absolute;
    left: 55em;
    top: 1em;
    font-size: 1.5em;
}
.Fila1_9{
    position: absolute;
    left: 60em;
    top: 1em;
    font-size: 1.5em;
}
.clase2{
    position: absolute;
    font-size: 1.5em;
    font-family: 'myriad pro regular';
    left: 20vw;
    top: 17vh; 
}

.cuadrao2{
    position: absolute;
    left: 8em;
    top: 30em;
    width: 116em;
    height: 3.8em;
    border: 1px solid black;
    border-radius: 1em;
}
.Fila2_1{
    position: absolute;
    left: 1em;
    top: 1.5em;
    font-size: 1.5em;
}   
.Fila2_2{
    position: absolute;
    left: 12em;
    top: 1.5em;
    font-size: 1.5em;
}
.Fila2_3{
    position: absolute;
    left: 25em;
    top: 1.5em;
    font-size: 1.5em;
}
.Fila2_4{
    position: absolute;
    left: 30em;
    top: 1.5em;
    font-size: 1.5em;
}
.Fila2_5{
    position: absolute;
    left: 35em;
    top: 1.5em;
    font-size: 1.5em;
}
.Fila2_6{
    position: absolute;
    left: 42em;
    top: 1.5em;
    font-size: 1.5em;
}
.Fila2_7{
    position: absolute;
    left: 50em;
    top: 1.5em;
    font-size: 1.5em;
}
.Fila2_8{
    position: absolute;
    left: 55em;
    top: 1.5em;
    font-size: 1.5em;
}
.Fila2_9{
    position: absolute;
    left: 60em;
    top: 1.5em;
    font-size: 1.5em;
}
.clase3{
    position: absolute;
    font-size: 1.5em;
    font-family: 'myriad pro regular';
    left: 30vw;
    top: 17vh; 
}

.cuadrao3{
    position: absolute;
    left: 8em;
    top: 36em;
    width: 116em;
    height: 3.8em;
    border: 1px solid black;
    border-radius: 1em;
}
.Fila3_1{
    position: absolute;
    left: 1em;
    top: 1em;
    font-size: 1.5em;
}   
.Fila3_2{
    position: absolute;
    left: 12em;
    top: 1em;
    font-size: 1.5em;
}
.Fila3_3{
    position: absolute;
    left: 25em;
    top: 1em;
    font-size: 1.5em;
}
.Fila3_4{
    position: absolute;
    left: 30em;
    top: 1em;
    font-size: 1.5em;
}
.Fila3_5{
    position: absolute;
    left: 35em;
    top: 1em;
    font-size: 1.5em;
}
.Fila3_6{
    position: absolute;
    left: 42em;
    top: 1em;
    font-size: 1.5em;
}
.Fila3_7{
    position: absolute;
    left: 50em;
    top: 1em;
    font-size: 1.5em;
}
.Fila3_8{
    position: absolute;
    left: 55em;
    top: 1em;
    font-size: 1.5em;
}
.Fila3_9{
    position: absolute;
    left: 60em;
    top: 1em;
    font-size: 1.5em;
}
.clase4{
    position: absolute;
    font-size: 1.5em;
    font-family: 'myriad pro regular';
    left: 39vw;
    top: 17vh; 
}

.cuadrao4{
    position: absolute;
    left: 8em;
    top: 42em;
    width: 116em;
    height: 3.8em;
    border: 1px solid black;
    border-radius: 1em;
}
.Fila4_1{
    position: absolute;
    left: 1em;
    top: 1em;
    font-size: 1.5em;
}   
.Fila4_2{
    position: absolute;
    left: 12em;
    top: 1em;
    font-size: 1.5em;
}
.Fila4_3{
    position: absolute;
    left: 25em;
    top: 1em;
    font-size: 1.5em;
}
.Fila4_4{
    position: absolute;
    left: 30em;
    top: 1em;
    font-size: 1.5em;
}
.Fila4_5{
    position: absolute;
    left: 35em;
    top: 1em;
    font-size: 1.5em;
}
.Fila4_6{
    position: absolute;
    left: 42em;
    top: 1em;
    font-size: 1.5em;
}
.Fila4_7{
    position: absolute;
    left: 50em;
    top: 1em;
    font-size: 1.5em;
}
.Fila4_8{
    position: absolute;
    left: 55em;
    top: 1em;
    font-size: 1.5em;
}
.Fila4_9{
    position: absolute;
    left: 60em;
    top: 1em;
    font-size: 1.5em;
}
.clase5{
    position: absolute;
    font-size: 1.5em;
    font-family: 'myriad pro regular';
    left: 51vw;
    top: 17vh; 
}

.cuadrao5{
    position: absolute;
    left: 8em;
    top: 48em;
    width: 116em;
    height: 3.8em;
    border: 1px solid black;
    border-radius: 1em;
}
.Fila5_1{
    position: absolute;
    left: 1em;
    top: 1em;
    font-size: 1.5em;
}   
.Fila5_2{
    position: absolute;
    left: 12em;
    top: 1em;
    font-size: 1.5em;
}
.Fila5_3{
    position: absolute;
    left: 25em;
    top: 1em;
    font-size: 1.5em;
}
.Fila5_4{
    position: absolute;
    left: 30em;
    top: 1em;
    font-size: 1.5em;
}
.Fila5_5{
    position: absolute;
    left: 35em;
    top: 1em;
    font-size: 1.5em;
}
.Fila5_6{
    position: absolute;
    left: 42em;
    top: 1em;
    font-size: 1.5em;
}
.Fila5_7{
    position: absolute;
    left: 50em;
    top: 1em;
    font-size: 1.5em;
}
.Fila5_8{
    position: absolute;
    left: 55em;
    top: 1em;
    font-size: 1.5em;
}
.Fila5_9{
    position: absolute;
    left: 60em;
    top: 1em;
    font-size: 1.5em;
}
.clase6{
    position: absolute;
    font-size: 1.5em;
    font-family: 'myriad pro regular';
    left: 67vw;
    top: 17vh; 
}

.cuadrao6{
    position: absolute;
    left: 8em;
    top: 54em;
    width: 116em;
    height: 3.8em;
    border: 1px solid black;
    border-radius: 1em;
}
.Fila6_1{
    position: absolute;
    left: 1em;
    top: 1em;
    font-size: 1.5em;
}   
.Fila6_2{
    position: absolute;
    left: 12em;
    top: 1em;
    font-size: 1.5em;
}
.Fila6_3{
    position: absolute;
    left: 25em;
    top: 1em;
    font-size: 1.5em;
}
.Fila6_4{
    position: absolute;
    left: 30em;
    top: 1em;
    font-size: 1.5em;
}
.Fila6_5{
    position: absolute;
    left: 35em;
    top: 1em;
    font-size: 1.5em;
}
.Fila6_6{
    position: absolute;
    left: 42em;
    top: 1em;
    font-size: 1.5em;
}
.Fila6_7{
    position: absolute;
    left: 50em;
    top: 1em;
    font-size: 1.5em;
}
.Fila6_8{
    position: absolute;
    left: 55em;
    top: 1em;
    font-size: 1.5em;
}
.Fila6_9{
    position: absolute;
    left: 60em;
    top: 1em;
    font-size: 1.5em; 
}
.clase7{
    position: absolute;
    font-size: 1.5em;
    font-family: 'myriad pro regular';
    left: 75vw;
    top: 17vh; 
}
.clase8{
    position: absolute;
    font-size: 1.5em;
    font-family: 'myriad pro regular';
    left: 85vw;
    top: 17vh; 
}
.clase9{
    position: absolute;
    font-size: 1.5em;
    font-family: 'myriad pro regular';
    left: 95vw;
    top: 17vh; 
}
.boton{
    position: absolute;
    display: inline-block;
    text-align: center;
    left: 47vw;
    top: 90vh;
    width: 10.15vw;
    height: 2.39vw;
    font-family: 'myriad pro light';
    background-color: #fc6d2d;
    color: white;
    text-decoration: none;
    border: none;   
    border-radius: 10px;
    cursor: pointer;
    line-height: 2.39vw;
    font-size: 1.04vw;
}