<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style/ayuda.css">
    <link rel="icon" href="./images/kario sin kairo.png">
    <title>Ayuda</title>
</head>
<body>
    <section class="home">
        <div>
            <img class="notebugues" src="./images/back.png" alt="cosa">
        </div>
        <div class="cuadrito">
            <div class="añadir">
                <a href="./añadir.html" target="_parent">
                    <img class="anadir" src="./images/añadir.png" alt="1">
                    <span class="XS">Añadir</span>
                </a>
            </div>
            <div class="Refrescar">
                <div class="Refrescar">
                    <a href="./refrescar.html" target="_parent">
                        <img class="reload" src="./images/refrescar.png" alt="2">
                        <span class="XM">Refrescar</span>
                    </a>
                </div>
                <div class="eliminar">
                    <a href="./Eliminar.html" target="_parent">
                        <img class="delete" src="./images/Eliminar.png" alt="3">
                        <span class="XL">Eliminar</span>
                    </a>
                </div>
                <div>
                    <img class="icono" src="./images/kario sin kairo.png" alt="4">
                </div>
                <div class="navigation-menu">
                    <label for="toggle-coment" class="icon">
                        <img src="./images/kario sin kairo.png" alt="Navigation Menu Icon">
                    </label>
                    <input type="checkbox" id="toggle-coment" class="toggle">
                    <div class="menu-coment">
                        <a href="./añadir.html">
                            <img src="./images/añadir.png" alt="Añadir" class="menu-img"> Añadir
                        </a><br>
                        <a href="./refrescar.html">
                            <img src="./images/refrescar.png" alt="Refrescar" class="menu-img"> Refrescar
                        </a><br>
                        <a href="./Eliminar.html">
                            <img src="./images/Eliminar.png" alt="Eliminar" class="menu-img"> Eliminar
                        </a><br>
                        <a href="./reportar.html">
                            <img src="./images/Reportar.png" alt="Reportar" class="menu-img"> Reportar
                        </a><br>
                        <a href="./ayuda.html">
                            <img src="./images/ayuda.png" alt="Ayuda" class="menu-img"> Ayuda
                        </a>
                    </div>
                </div>
                <div>
                    <a href="./reportar.html" target="_parent">
                        <img class="report" src="./images/Reportar.png" alt="5">
                        <span class="S">Reportar</span>
                    </a>
                </div>
                <div class="Ayuda">
                    <a href="./ayuda.html" target="_parent">
                        <img class="help" src="./images/ayuda.png" alt="6">
                        <span class="SS">Ayuda</span>
                    </a>
                </div>
                <div>
                    <img class="SSS" src="./images/tuerquita.png" alt="7">
                </div>
                <div>
                    <img class="EG" src="./images/campanita.png" alt="8">
                </div>
                <div class="menu">
                    <label for="toggle" class="pedrito">
                        <img src="./images/pp.png" alt="9">
                    </label>
                    <input type="checkbox" id="toggle" class="toggle">
                    <div class="menu-content">
                        <a href="./añadir.html">Login</a>
                        <a href="./añadir.html">Logout</a>
                    </div>
                </div>
                
            </div>
             <div class="linea">

             </div>   
        </div>

    </section>
    <section class="formula">
        <p class="txt1">Panel Ayuda</p>
        <p class="txt2">¿En que te podemos ayudar?</p>
        <p class="txt3">Ingrese su correo</p>
        <div class="cuadrito1"></div>
        <p class="txt4">Escriba abajo la duda que tenga respecto a nosotros</p>
        <div class="cuadrito2"></div>
        <div>
            <a class="boton" href="./añadir.html">Enviar</a>
        </div>
    </section>
</body>
</html>