<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style/refrescar.css">
    <link rel="icon" href="./images/kario sin kairo.png">
    <title>Refrescar</title>
</head>
<body>
    <section class="home">
        <div>
            <img class="notebugues" src="./images/back.png" alt="cosa">
        </div>
        <div class="cuadrito">
            <div class="añadir">
                <a href="./añadir.html" target="_parent">
                    <img class="anadir" src="./images/añadir.png" alt="1">
                    <span class="XS">Añadir</span>
                </a>
            </div>
            <div class="Refrescar">
                <div class="Refrescar">
                    <a href="./refrescar.html" target="_parent">
                        <img class="reload" src="./images/refrescar.png" alt="2">
                        <span class="XM">Refrescar</span>
                    </a>
                </div>
                <div class="eliminar">
                    <a href="./Eliminar.html" target="_parent">
                        <img class="delete" src="./images/Eliminar.png" alt="3">
                        <span class="XL">Eliminar</span>
                    </a>
                </div>
                <div>
                    <img class="icono" src="./images/kario sin kairo.png" alt="4">
                </div>
                <div class="navigation-menu">
                    <label for="toggle-coment" class="icon">
                        <img src="./images/kario sin kairo.png" alt="Navigation Menu Icon">
                    </label>
                    <input type="checkbox" id="toggle-coment" class="toggle">
                    <div class="menu-coment">
                        <a href="./añadir.html">
                            <img src="./images/añadir.png" alt="Añadir" class="menu-img"> Añadir
                        </a><br>
                        <a href="./refrescar.html">
                            <img src="./images/refrescar.png" alt="Refrescar" class="menu-img"> Refrescar
                        </a><br>
                        <a href="./Eliminar.html">
                            <img src="./images/Eliminar.png" alt="Eliminar" class="menu-img"> Eliminar
                        </a><br>
                        <a href="./reportar.html">
                            <img src="./images/Reportar.png" alt="Reportar" class="menu-img"> Reportar
                        </a><br>
                        <a href="./ayuda.html">
                            <img src="./images/ayuda.png" alt="Ayuda" class="menu-img"> Ayuda
                        </a>
                    </div>
                </div>
                <div>
                    <a href="./reportar.html" target="_parent">
                        <img class="report" src="./images/Reportar.png" alt="5">
                        <span class="S">Reportar</span>
                    </a>
                </div>
                <div class="Ayuda">
                    <a href="./ayuda.html" target="_parent">
                        <img class="help" src="./images/ayuda.png" alt="6">
                        <span class="SS">Ayuda</span>
                    </a>
                </div>
                <div>
                    <img class="SSS" src="./images/tuerquita.png" alt="7">
                </div>
                <div>
                    <img class="EG" src="./images/campanita.png" alt="8">
                </div>
                <div class="menu">
                    <label for="toggle" class="pedrito">
                        <img src="./images/pp.png" alt="9">
                    </label>
                    <input type="checkbox" id="toggle" class="toggle">
                    <div class="menu-content">
                        <a href="./añadir.html">Login</a>
                        <a href="./añadir.html">Logout</a>
                    </div>
                </div>
                
            </div>
             <div class="linea">

             </div>   
        </div>

    </section>
    <section class="formula">
        <p class="txt1">Panel Refrescar</p>
        <p class="txt2">En esta parte puedes actualizar los elementos</p>
        <p class="txt3">Seleccione el elemento al que desea actualizar el dato</p>
        <div class="dropdown">
            <label for=""></label>
            <select id="Poblacion" name="Poblacion" required>
              <option value=""></option>
              <option value="Indicador">Indicador</option>
              <option value="Descripcion">Descripción</option>
              <option value="Categoria">Categoría</option>
              <option value="Fecha de inicio">Fecha de inicio</option>
              <option value="Bucaramanga">Fecha de Terminación</option>
              <option value="Fórmula">Fórmula</option>
              <option value="Frecuencia">Frecuencia</option>
              <option value="Cumplimiento">Cumplimiento</option>
              <option value="Área">Área</option>
            </select>
          </div>
          <div>
            <p class="txt4">Ingrese el nuevo dato del elemento</p>
            <div class="cuadro1"></div>
          </div>
          <div>
            <a class="boton" href="./añadir.html">Guardar</a>
        </div>
    </section>
</body>
</html>