<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style/refrescar.css">
    <title>Refrescar</title>
</head>
<body>
    <section class="home">
        <div class="cuadrito">
            <div class="añadir">
                <img class="anadir" src="../images/añadir.png" alt="1">
                <a class="XS" href="./añadir.html" target="_parent" >Añadir</a>
            </div>
            <div class="Refrescar">
                <div class="Refrescar">
                    <img class="reload" src="./images/refrescar.png" alt="2">
                    <a class="XM" href="./refrescar.html" target="_parent">Refrescar</a>
                </div>
                <div class="eliminar">
                    <img class="delete" src="./images/Eliminar.png" alt="3">
                    <a class="XL" href="./Eliminar.html" target="_parent">Eliminar</a>
                </div>
                <div>
                    <img class="icono" src="./images/kario sin kairo.png" alt="4">
                </div>
                <div>
                    <img class="report" src="./images/Reportar.png" alt="4">
                    <a class="S" href="./reportar.html" target="_parent">Reportar</a>
                  </div>
                <div class="Ayuda">
                    <img class="help" src="./images/ayuda.png" alt="5">
                    <a class="SS" href="./ayuda.html" target="_parent">Ayuda</a>
                </div>
                <div>
                    <img class="SSS" src="./images/tuerquita.png" alt="6">
                </div>
                <div>
                    <img class="EG" src="./images/campanita.png" alt="7">
                </div>
                <div class="menu">
                    <label for="toggle" class="pedrito">
                        <img src="./images/pp.png" alt="8">
                    </label>
                    <input type="checkbox" id="toggle" class="toggle">
                    <div class="menu-content">
                        <a href="./añadir.html">Login</a>
                        <a href="./añadir.html">Logout</a>
                    </div>
                </div>
                
            </div>
             <div class="linea">

             </div>   
        </div>
    </section>
    <section class="formula">
        <p class="txt1">Panel de Refrescar</p>
        <p class="txt2">En esta parte puedes actualizar los elementos</p>
        <p class="txt3">Seleccione el elemento al que desea actualizar el dato</p>
        <div class="dropdown">
            <label for=""></label>
            <select id="Poblacion" name="Poblacion" required>
              <option value=""></option>
              <option value="Indicador">Indicador</option>
              <option value="Descripcion">Descripción</option>
              <option value="Categoria">Categoría</option>
              <option value="Fecha de inicio">Fecha de inicio</option>
              <option value="Bucaramanga">Fecha de Terminación</option>
              <option value="Fórmula">Fórmula</option>
              <option value="Frecuencia">Frecuencia</option>
              <option value="Cumplimiento">Cumplimiento</option>
              <option value="Área">Área</option>
            </select>
          </div>
          <div>
            <p class="txt4">Ingrese el nuevo dato del elemento</p>
            <div class="cuadro1"></div>
          </div>
          <div>
            <a class="boton" href="./añadir.html">Guardar</a>
        </div>
    </section>
</body>
</html>